/***CODE COULEUR HEXA***/
//orange :#efcc95
//noir : #000000
//blanc:#ffffff
//ombre : #151515
/************************/


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    //background-color: #efcc95;
}

header {
    background: #000000;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999; /* S'assurer que le header soit toujours au-dessus */
    height: 75px; /* Assurez-vous de définir une hauteur fixe pour le header */
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.nav-link{
    color: #ffffff;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

/* Section Accueil */
#accueil {
    background: #efcc95;
    position: relative;
    height: 100vh; /* La section prendra toute la hauteur de la fenêtre */
    padding-top: 80px; /* Compense la hauteur du header, vous pouvez ajuster cette valeur si nécessaire */
}


/* Styles spécifiques pour le carousel */
.carousel {
    width: 100%;
    height: 100%; /* Occuper toute la hauteur de la section */
}

.carousel-inner {
    height: 100%; /* Faire en sorte que les éléments à l'intérieur du carrousel occupent toute la hauteur */
}

.carousel-item {
    height: 100%; /* Forcer l'image et le contenu à occuper toute la hauteur */
}

.carousel-item img {
    object-fit: cover; /* Pour que l'image couvre toute la zone sans déformation */
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    bottom: 20px; /* Placez la légende près du bas de l'image */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajouter un peu d'ombre pour la lisibilité du texte */
}

.carousel-indicators button {
    background-color: #333; /* Style des boutons de navigation */
}

/* Contrôles du carrousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: transparent;
}

#qui-je-suis {
    background: ffffff; /* Ajoutez une couleur de fond si vous souhaitez */
}

#qui-je-suis img {
    max-width: 100%; /* Pour s'assurer que l'image ne dépasse pas sa colonne */
    height: auto; /* Maintenir les proportions de l'image */
}

#projets{
    background: #efcc95;
}

.img-container {
    display: flex;
    align-items: flex-start; /* Fixe l'image en haut */
    justify-content: center; /* Centre l'image horizontalement */
}

/* Séparateur vertical */
.separator {
    width: 1px; /* Épaisseur de la ligne */
    min-height: 100%; /* Hauteur égale à la colonne */
    background-color: #333; /* Couleur du séparateur */
    margin: auto; /* Centrer verticalement */
    height: 85vh;
}

/* Image circulaire */
#me {
    width: 70%; /* Ajuste la taille de l’image */
    max-width: 300px; /* Empêche l’image d’être trop grande */
    border-radius: 50%; /* Rend l’image circulaire */
    
}

/*.me-container{
    height: 100vh;
}*/

#contact{
    background-color: #ffffff;
}

#map {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card {
    height: 400px; /* Ajustez cette valeur selon vos besoins */
}

@media (max-width: 768px) {
    .separator {
        display: none; /* Cacher le séparateur sur les petits écrans */
    }
}

